* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-box {
   width: 100px;
   height: 100px;
   background: burlywood;
   border: 2px solid black;
   text-align: center;
   padding: 20px 10px;
   margin: 60px auto;
}

.inner {
   position: relative;
   /* margin: 20px 10px; */
}